body{
    background-color: #ecf0f1;
}
.container{
    /* background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
    /* background: linear-gradient(to right, #304352, #d7d2cc); */
    /* background: linear-gradient(to right, #f7cce6, #e3dbe1); */
    /* background-color: #F5F5DC; */
    background-image: url(map.jpg);
    box-shadow: 0 0 3px 4px #61555f; 
    padding: 10px;
    margin: 10px;
    justify-content: center;
    vertical-align: top;
    text-align: center;
}

.gallery_item{
    flex-basis: 25%;
    padding: 10px;
    font-size: larger;
    justify-content: center;
    padding: 10px;
}
.gallery_item:hover{
    opacity: 1;
}
.text{
    justify-content: center;
    margin-left: 20px;
    text-shadow: 3px 3px 20px #ff0077,
    -2px 1px 30px #ff4c99;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:#ffffff;
    font-size: px;
}
.gallery_item img{
     width: 98%;
     height: 80%;
     object-fit: cover;
     position: relative;
     left: 5px;
     opacity: 1;
     display: block;
     box-shadow: 0 0 1px 2px #9de1ff;
     cursor: pointer;
     border-radius: 10px; 
     transition: .5s ease;
     backface-visibility: hidden;
}
  .gallery_item:hover img {
    opacity: 0.5;
  }
.lightbox{
    position: fixed;
    display: none;
    background-color: #00000099;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: 0;
}

.lightbox-content img{
    width: 100%;
    height: 100%;
    border: 3px solid #fff;
    object-fit: cover;
}
.lightbox-content img:hover{
    transform: none;
} 
.pre,.next{
    position: absolute;
    color: #fff;
    padding: 5px;
    cursor: pointer;
    bottom: 45%;
    font-size: larger;
    font-weight: bold;
}
.pre{
    left: 0;
}
.next{
    right: 0;
    left: 96.5%;
}
.main{
    background-image: url(beautiful.webp);
    height: 300px;
    background-size: cover;
    justify-content: center;
    text-align: center;
}
.bg-text{
  height: 200px;
  background: rgb(0, 0, 0); 
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  padding: 50px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.close{
    color: #fff;
    font-size: x-large;
    cursor: pointer;
    position: absolute;
    font-size: xx-large;
    font-weight: bolder;
}
.footer{
    background-image: url(footer.webp);
    height: 240px;
    background-size: cover;
    justify-content: center;
    text-align: center;
}
.footer-text{
    height: 130px;
    background: rgb(0, 0, 0); 
    background: rgba(0, 0, 0, 0.5); 
    color: #f1f1f1;
    padding: 2px;
    font-size: x-large;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    letter-spacing: 7px;
  }
@media (max-width:500px) {
    .gallery_page{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 20px;
    }
    .lightbox-content{
        position: relative;
        width: 80%;
        height:40%;
        margin: 5% auto;
    }
    .bg-text{
        font-size: 18px;
    }
    .close{
        bottom: 88%;
    left: 94%;
    }
}
@media (min-width:501px) and (max-width:1000px){
    .gallery_page{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;
    }
    .lightbox-content{
        position: relative;
        width: 80%;
        height:40%;
        margin: 5% auto;
    }
    .bg-text{
        font-size: 30px;
    }
    .close{
        bottom: 92%;
        left: 95%;
    }
}
@media (min-width:1001px){
    .gallery_page{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 20px;
    }
    .lightbox-content{
        position: relative;
        width: 50%;
        height:70%;
        margin: 5% auto;
    }
    .bg-text{
        font-size: 40px;
    }
    .close{
        bottom: 92%;
        left: 97%;
    }
}


